// Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap');

// Fonts for body and headers
$body-font: "Fira Sans", "Helvetica", "sans-serif";
$headers-font: "Fira Sans", "Helvetica", "sans-serif";
