<div class="banner">
  <div class="container-fluid" style="transform: translate(0px, -80px);">
    <h1>Contact Management<br><span class="word">made simple</span></h1>
    <p>Get your agenda organized using ContactApp</p>
    <%= link_to "Register", new_user_registration_path, class: "btn btn-flat" unless user_signed_in?  %>
  </div>
</div>
