<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/juliangaspar" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/factorial_es/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/factorialhres/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/factorialhr/" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/factorialhr/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-links">
    Have any questions? Contact me <a href="https://www.linkedin.com/in/juliangaspar/" target="_blank"><i class="fas fa-envelope"></i></a>
  </div>
</div>
