<div class="container">
  <div class="form-container">
    <div class="form-card">
      <h2 class="form-title">Create a new contact</h2>
        <%= render 'contact-form' %>
    </div>
  </div>
</div>
