.banner {
  background-image: url(https://factorialhr.com/images/factorial-open-graph.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: $blue;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  font-weight: bold;
}

.banner p {
  color: $blue;
  font-size: 16px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.word {
  color: $red;
  font-weight: bold;
}
