.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 6%;
  margin-bottom: 0.5rem;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.contact-card {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $blue;
  font-size: 10px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  perspective: 1000px;
}

.contact-card-inner {
  position: relative;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.contact-card:hover .contact-card-inner {
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  transform: rotateY(180deg);
}

.contact-card-front, .contact-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.contact-card-back {
  transform: rotateY(180deg);
}

.contact-image {
  padding-top: 6px;
}

.contact-info {
  text-align: center;
}

.contact-card h4 {
  margin-top: 0.5rem;
}

.contact-card p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 12px;
}

.contact-versions {
  overflow: scroll;
  height: 150px;
}

.contact-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white
}
