.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.cards-title{
  text-align: center;
  margin-top: 5rem;
  color: $blue;
  line-height: 2rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.contact-card {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $blue;
  font-size: 10px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  perspective: 1000px;
}

.contact-card:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.contact-card-inner {
  position: relative;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  text-align: center;
}

.contact-card-front, .contact-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.contact-image {
  padding-top: 14px;
}

.contact-info {
  text-align: center;
}

.contact-card h4 {
  margin-top: 0.5rem;
}

.contact-card p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 12px;
}

.contact-versions {
  overflow: scroll;
  height: 150px;
}

.contact-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.contact-actions .btn {
  border-radius: 6px;
  margin: 0 0.5rem;
  color: $white;
}

.contact-actions .btn-:hover {
  color: $white;
}

.product-cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-card {
  height: 450px;
  width: 350px;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.product-card:hover{
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.product-card img {
  overflow: hidden;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-title {
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  color: $blue;
  line-height: 2rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
