.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.form-container .form-card {
  width: 100%;
  max-width: 500px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.form-container .form-card .form-title {
  text-align: center;
  margin-top: 16px;
}

.form-container .form-card .form-actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-container .form-card .form-actions .btn {
  margin-top: 16px;
}

.form-container .form-card .form-actions .btn:first-child {
  margin-top: 0;
}

.form-container .form-card .form-actions .btn:last-child {
  margin-bottom: 0;
}
